@use '../../shared/styles/card';

.jar {
  @extend %card;
  height: 100%;
}

.jarList {
  @extend %scrollable;
}

.jarHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.totalCalories {
  margin-top: 20px;
  font-weight: bold;
}

.jarListItem {
  display: flex !important;
  word-break: break-word;
}
